:root {
    --p-color: #8DC63F;
    --s-color: #009ddc;
    --t-color: #f15c22;
    --f-color: #F8981C;
    --light-gray: #ADAFB2;
    --dark-gray: #53534A;
    --white-color: #ffffff;
    --normal-color: #202124;
}

* {
    outline: 1px solid skyblue--;
}

.wrap {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 100px;
    color: var(--white-color);
}

#header.on {
    background: var(--white-color);
    color: var(--normal-color);
    line-height: 90px;
    transition: 0.2s;
    border-bottom: 1px solid #ddd;
}

#header:hover {
    background: var(--white-color);
    color: var(--normal-color);
    transition: 0.2s;
    border-bottom: 1px solid #ddd;
}

.header h1 a {
    display: block;
        width: 200px;
        height: auto;
        font-size: 0;
    background: url(../images/logo_w.svg) no-repeat center center;
}

.header:hover h1 a {
    background: url(../images/logo_basic.svg) no-repeat center center;
}

.header.on h1 a {
    background: url(../images/logo_basic.svg) no-repeat center center;
}

#header .h_inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

/* #header .h_inner h1 img {
    width: 200px;
    height: 80px;
} */

#header .gnb ul {
    display: flex;
    gap: 40px;
}

#header .gnb ul li {
    font-size: 20px;
    font-weight: 600;
}

#header .util_box ul {
    display: flex;
    gap: 30px;
}

.MainVisual {}

.MainVisual .itm {
    position: relative;
    height: 100vh;
}

.MainVisual .itm01 {
    background: url(../images/mainVisual_001.jpg) no-repeat center center/cover;
}

.MainVisual .itm02 {
    background: url(../images/mainVisual_003.jpg) no-repeat center center/cover;
}

.MainVisual .itm .txt_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    color: var(--white-color);
}

.MainVisual .itm .txt_box span {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.MainVisual .itm .txt_box strong {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.MainVisual .itm .txt_box p {
    font-size: 20px;
}

/* 
.MainVisual .itm .txt_box span::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 60px;
    background: var(--primary-color);
    bottom: 50px;
    left: 0;
    transform: translate(0, -50%);
} */

.MainVisual .main_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin: 0 0 0 -585px;
}

.MainVisual .main_slide .slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ddd;
    margin: 0 8px 0 0;
    border-radius: 8px;

}

.MainVisual .main_slide .slick-dots li.slick-active {
    width: 50px;
    background: var(--s-color);
    transition: width 3s;
}


.MainVisual .main_slide .slick-dots li button {
    display: none;
}



.MainIntro {
    padding: 200px 0 ;
}

.MainIntro .tit_area {
    text-align: center;
}

.MainIntro .tit_area {
    position: relative;
    padding: 30px 0 0 0;
}

.MainIntro .tit_area::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--p-color);
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.MainIntro .tit_area h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.MainIntro .tit_area p {
    position: relative;
    line-height: 24px;
    margin: 0 0 260px 0;
}

.MainIntro .tit_area span {
    font-size: 32px;
}

.MainIntro .tit_area p::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 160px;
    background: linear-gradient(to bottom,
            rgba(0, 157, 220, 0) 10%,
            rgba(0, 157, 220, 0.25) 25%,
            rgba(0, 157, 220, 0.45) 50%,
            rgba(0, 157, 220, 0.75) 75%);
    ;
    top: 80px;
    left: 50%;
    font-size: 32px;
}



.MainContent {
    background: #f9f9f9;
}

.MainContent .inner {
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
}

.MainContent .tit_area h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--s-color);
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.MainContent .con_area {
    display: flex;
    width: 1200px;
    gap: 16px;

}

.MainContent .con_area figure {
    position: relative;
    overflow: hidden;
    height: 400px;
    min-width: 288px;

    /* filter: grayscale(40%) brightness(0.5); */
}

.MainContent .con_area .f_01 {
    border: 2px solid var(--p-color);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_001.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .f_02 {
    border: 2px solid var(--s-color);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_002.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .f_03 {
    border: 2px solid var(--f-color);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_003.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .f_04 {
    border: 2px solid var(--t-color);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_004.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area figure .txt {
    position: absolute;
    top: 32px;
    left: 24px;
    right: 24px;
    color: var(--white-color);
    text-align: left;
}

.MainContent .con_area figure .txt strong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    left: 0;
}

.MainContent .con_area figure .txt em {
    display: block;
    font-weight: 400;
}

.MainContent .con_area figure .txt .icon {
    margin: 30px 0 0 0;
    text-align: right;
}

.MainContent .con_area figure .txt .icon span {
    font-size: 60px;
}

/* 현명 작업 */

.MainContent .con_area figure .txt {
    z-index: 999;
}

.hid_txt {
    position: absolute;
    bottom: -150px;
    width: 100%;
    height: 150px;
    /* background: linear-gradient(to top,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%); */
    transition: 0.5s;
    visibility: hidden;
    text-align: left;
    color: var(--white-color);
}

.MainContent .con_area .f_01 .hid_txt {
    background: var(--p-color);
}

.MainContent .con_area .f_02 .hid_txt {
    background: var(--s-color);
}

.MainContent .con_area .f_03 .hid_txt {
    background: var(--f-color);
}

.MainContent .con_area .f_04 .hid_txt {
    background: var(--t-color);
}


figure:hover .hid_txt {
    bottom: 0;
    visibility: visible;
}

.hid_txt p {
    /* position: absolute;
    bottom: 50px;
    left: 50px; */
    padding: 40px 30px 0 30px;
    line-height: 22px;
}

.hid_txt p::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: var(--white-color);
    margin: 0 0 10px 0;
}



.MainArchive {
    text-align: center;
}

.MainArchive .tit_area {
    text-align: center;
}

.MainArchive .tit_area h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--s-color);
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.MainArchive .tit_area .a_tab {
    display: flex;
    gap: 16px;
    margin: 0 0 24px 0;
        justify-content: center;
        align-items: center;
}

.MainArchive .tit_area .a_tab li {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px 80px;
    border-radius: 20px;
    border: 1px solid rgba(0, 157, 220, 0.6);
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 2px;
}

.MainArchive .tit_area .a_tab li.on {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px 80px;
    border-radius: 20px;
    border: 1px solid rgba(0, 157, 220, 0.6);
    background: var(--s-color);
    color: var(--white-color);
    transition: 0.2s;
    cursor: pointer;
}

.MainArchive .tab_content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.MainArchive .tab_content ul li {
position: relative;
display: none;
}


.MainArchive .tab_content .content.on ul li {
    display: block;
}

.MainArchive .tab_content ul li a{
display: block;
    border: 1px solid var(--light-gray);
}

.MainArchive .tab_content ul li .img_box{
    height: 200px;
        overflow: hidden;
        object-fit: cover;
}

.MainArchive .tab_content ul li .txt_box{
    display: flex;
        flex-direction: column;
        height: 150px;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
}

.MainArchive .tab_content ul li .txt_box:hover{
        background: var(--s-color);
        color: var(--white-color);
}

.MainArchive .tab_content ul li .txt_box strong{
    padding: 4px 6px;
border: 1px solid rgba(0, 157, 220, 0.6);
border-radius: 20px;
font-size: 16px;
font-weight: 500;
width: 80px;
}

.MainArchive .tab_content ul li .txt_box:hover strong{
border: 1px solid var(--white-color);
background: var(--white-color);
color: var(--s-color);
}

.MainArchive .tab_content ul li .txt_box p{
font-size: 18px;
font-weight: 600;
}

.MainArchive .tab_content ul li .txt_box strong{
font-size: 16px;
font-weight: 600;
}


.MainMap{}

.MainMap  .inner{
    display: flex;
    gap: 40px;
}

.MainMap .left_info .title h2{
    font-size: 28px;
        font-weight: 600;
        margin: 0 0 40px 0;
}










.MainPlan {}




.footer {
    padding: 50px 0;
    background: #ddd;
}

.footer .foot_wrap {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 50px;
    justify-content: space-between;
}

.footer .foot_wrap .ft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
}

.footer .foot_wrap .ft::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.footer .foot_wrap .ft .foot_customer {
    display: flex;
    gap: 1.6rem;
    white-space: nowrap;
}

.footer .foot_wrap .ft .foot_customer li {
    position: relative;
}

.footer .foot_wrap .ft .foot_customer li:not(:first-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background: #fff;
}

.footer .foot_wrap .ft .foot_customer li a {
    display: block;
}

.footer .foot_wrap .ft .foot_customer li strong {
    font-weight: 500;
    color: #7BC04B;
}

.footer .foot_wrap .fb {
    display: flex;
}

.footer .foot_wrap .fb .foot_address {
    margin: 0 0 0.6rem 0;
    font-size: 1.4rem;
}

.footer .foot_wrap .fb .foot_address li {
    position: relative;
    display: inline-block;
    margin: 0 18px 0 0;
    line-height: 20px;
}


.footer .foot_wrap .fb .copyright {
    font-size: 14px;
    color: #fff;
}

.footer .foot_wrap .fb #fl {
    outline: none;
    border: 1px solid #ddd;
    background: none;
    font-family: "Noto Sans Kr";
    font-size: 14px;
    padding: 4px 8px 5px 16px;
    color: #fff;
}