:root {
    --p-color: #8DC63F;
    --s-color: #009ddc;
    --t-color: #f15c22;
    --f-color: #F8981C;
    --light-gray: #ADAFB2;
    --white-gray: #eeeeee;
    --dark-gray: #53534A;
    --white-color: #ffffff;
    --normal-color: #202124;
}

* {
    outline: 1px solid skyblue--;
}

.wrap {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 90px;
    color: var(--white-color);
}

#header.on {
    background: var(--white-color);
    color: var(--normal-color);
    line-height: 90px;
    transition: 0.2s;
    border-bottom: 1px solid #ddd;
}

#header:hover {
    background: var(--white-color);
    color: var(--normal-color);
    transition: 0.2s;
    border-bottom: 1px solid #ddd;
}

.header h1 a {
    display: block;
    width: 200px;
    height: auto;
    font-size: 0;
    background: url(../images/logo_w.svg) no-repeat center center;
}

.header:hover h1 a {
    background: url(../images/logo_basic.svg) no-repeat center center;
}

.header.on h1 a {
    background: url(../images/logo_basic.svg) no-repeat center center;
}

#header .h_inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

/* r */
#header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff url(../images/logo_basic.svg)no-repeat center right/50% 50%;
    z-index: 1;
    transition: 0.5s;

    /* display: none; */
    opacity: 0;
    visibility: hidden;
}

#header .gnb:hover::before {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    height: 220px;
}

/* 
#header .gnb::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    background: url(../images/logo_basic.svg) no-repeat center center/cover;
} */


#header .gnb .depth1 {
    display: flex;
    gap: 60px;
    text-align: center;
}

#header .gnb .depth1 li {
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

#header .gnb .depth1>li:hover {
    color: var(--s-color);
}

#header .gnb .depth1>li {
    position: relative;
}

#header .gnb .depth1>li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 999;
    transform: translate(-50%, 0);
    width: 0;
    height: 2px;
    background: #009ddc;
}

#header .gnb .depth1>li:hover::after {
    width: 100%;
    transition: width 0.5s;
}

#header .gnb .depth1 li .depth2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 96px;
    z-index: 5;
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    line-height: 32px;
    transform: translate(-50%, 0);
}

#header .gnb:hover .depth1 li .depth2 {
    height: 190px;
    color: var(--normal-color);
}

#header .gnb .depth2 li {
    font-size: 16px;
    font-weight: 500;
}


#header .gnb .depth1>li::before {
    content: '';
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
    /* background: var(--white-color); */
    /* box-shadow: 0 5px 10px rgba(17, 17, 17, .1); */
    z-index: 3;
}


#header .gnb .depth1>li:hover::before {
    height: 210px;
}



#header .util_box ul {
    display: flex;
    gap: 30px;
}

#header .util_box ul li {
    position: relative;
}

#header .util_box ul li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-15px, -50%);
    width: 2px;
    height: 8px;
    background: #ddd;
}

/* 메인비주얼 */
.MainVisual {}

.MainVisual .main_slide {
    position: relative;
    border-radius: 0 0 200px 0;
    overflow: hidden;
}

.MainVisual .itm {
    position: relative;
    height: 100vh;
}

.MainVisual .itm01 {
    background: url(../images/mainVisual_001.jpg) no-repeat center center/cover;
}

.MainVisual .itm02 {
    background: url(../images/mainVisual_003.jpg) no-repeat center center/cover;
}

.MainVisual .itm .txt_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    color: var(--white-color);
}

.MainVisual .itm .txt_box span {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.MainVisual .itm .txt_box strong {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.MainVisual .itm .txt_box p {
    font-size: 20px;
}

.MainVisual .main_slide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin: 0 0 0 -600px;
}

.MainVisual .main_slide .slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ddd;
    margin: 0 8px 0 0;
    border-radius: 8px;
    transition: width 0.5s;
}

.MainVisual .main_slide .slick-dots li.slick-active {
    width: 50px;
    background: var(--s-color);

}


.MainVisual .main_slide .slick-dots li button {
    display: none;
}

.MainVisual .scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;

    height: 80px;
    width: 52px;

}

.MainVisual .scroll::before {
    content: "\e946";
    font-family: 'Material Symbols Outlined';
    font-size: 50px;
    font-weight: 200;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;

    animation: scroll 1.4s infinite;
}

.MainVisual .scroll::after {
    content: "";
    position: absolute;
    top: 56%;
    left: 49%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%;

    animation: scroll 1s infinite;
}


@keyframes scroll {
    0% {
        /* top: 40px;
        transform: translate(-50%, 0) scale(1);
        opacity: 1; */
        bottom: 4px;
    }

    50% {
        /* top: 100px;
        transform: translate(-50%, 0) scale(1);
        opacity: 1; */
        bottom: 14px;
    }

    100% {
        /* top: 100px;
        transform: translate(-50%, 0) scale(5);
        opacity: 0; */
        bottom: 4px;
    }
}






/* 메인인트로/소개 */
.MainIntro {
    position: relative;
    overflow: hidden;
}




.MainIntro .inner_notice {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
}

.MainIntro .inner_notice .notice_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 16px;
    background: #f9f9f9;
}

.MainIntro .inner_notice h3 {
    font-size: 18px;
    font-weight: 600;
}

.MainIntro .inner_notice .notice_slide {
    width: 80%;
    background: var(--white-color);
    padding: 8px 24px;
}

.MainIntro .inner_notice .notice_slide a {
    display: flex;
    justify-content: space-between;
}

.MainIntro .inner_notice .notice_arrow {
    cursor: pointer;


}

.MainIntro .inner_notice .notice_arrow span {
    border: 1px solid #ececec;
    color: var(--light-gray);
}


.MainIntro .inner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MainIntro .tit_area {
    position: relative;
    text-align: center;
    z-index: 999;
}

.MainIntro .tit_area h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.MainIntro .tit_area p {
    position: relative;
    line-height: 24px;
    margin: 0 0 160px 0;
}

.MainIntro .tit_area span {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}

.MainIntro .tit_area span strong {
    font-size: 32px;
    font-weight: 700;
    color: var(--s-color);
}

.MainIntro .tit_area p::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(to bottom,
            rgba(0, 157, 220, 0) 10%,
            rgba(0, 157, 220, 0.25) 25%,
            rgba(0, 157, 220, 0.45) 50%,
            rgba(0, 157, 220, 0.75) 75%);
    ;
    top: 80px;
    left: 50%;
    font-size: 32px;
    transform: rotate(-45deg)
}


.MainIntro .img_area {
    width: 500px;
}







/* 메인콘텐츠 */

.MainContent {
    position: relative;
    overflow: hidden;
}

.MainContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    height: 100%;
    background: #f9f9f9;

    border-radius: 400px 0 0 400px;

}

.MainContent .inner {
    text-align: center;
}

.MainContent .tit_area h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--s-color);
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.MainContent .con_area {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

.MainContent .con_area>* {

    padding: 40px;
    height: 360px;
    transition: 0.5s;
    overflow: hidden;
}

.MainContent .con_area .itm {
    position: relative;
    border-radius: 20px;
    flex: 1;
}

.MainContent .con_area .itm.on {
    flex: 3;
}

.MainContent .con_area .itm01 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_001.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .itm02 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_002.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .itm03 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_003.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}

.MainContent .con_area .itm04 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../images/con_004.jpg)no-repeat center center/cover;
    filter: grayscale(40%);
}


.MainContent .con_area .itm .txt_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    z-index: 1;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

.MainContent .con_area .itm .left_txt {
    margin: 0 32px 0 0;
    white-space: nowrap;
}

.MainContent .con_area .itm .left_txt p {
    font-size: 18px;
    margin: 0 0 6px 0;

}

.MainContent .con_area .itm .left_txt span {
    font-size: 28px;
    font-weight: 600;

}

.MainContent .con_area .itm .right_txt {
    opacity: 0;
}

.MainContent .con_area .itm.on .right_txt {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    opacity: 1;
    transition: 0.3s ease-in-out;
}





/* 메인아카이브 */
.MainArchive {
    text-align: center;
}

.MainArchive .inner_content {
    margin: 0 0 40px 0;
}

.MainArchive .tit_area {
    text-align: center;
}

.MainArchive .tit_area h2::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--s-color);
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.MainArchive .tit_area .a_tab {
    display: flex;
    gap: 16px;
    margin: 0 0 28px 0;
    justify-content: center;
    align-items: center;
}

.MainArchive .tit_area .a_tab li {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px 80px;
    border: 1px solid rgba(0, 157, 220, 0.6);
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 2px;
}

.MainArchive .tit_area .a_tab li.on {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 8px 80px;
    border: 1px solid rgba(0, 157, 220, 0.6);
    background: var(--s-color);
    color: var(--white-color);
    transition: 0.2s;
    cursor: pointer;
}

.MainArchive .tab_content ul {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; */
}


.MainArchive .tab_content ul li {
    position: relative;
    display: none;
}


.MainArchive .tab_content .content.on ul li {
    display: block;
}

.MainArchive .tab_content ul li a {
    display: block;
    border: 1px solid #ddd;
}

.MainArchive .tab_content ul li .img_box {
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.MainArchive .tab_content ul li .txt_box {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 20px 40px;
    align-items: center;
}

.MainArchive .tab_content ul li:hover .txt_box {
    background: var(--s-color);
    color: var(--white-color);
    transition: 0.3s;
}

.MainArchive .tab_content ul li:hover .txt_box.video {
    background: var(--p-color);
    color: var(--white-color);
}

.MainArchive .tab_content ul li .txt_box strong {
    display: block;
    padding: 4px 6px;
    border: 1px solid rgba(0, 157, 220, 0.6);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    width: 80px;
    margin: 0 0 16px 0;
}

.MainArchive .tab_content ul li .txt_box .video {
    padding: 4px 6px;
    border: 1px solid rgba(141, 198, 63, 0.8);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    width: 80px;
}

.MainArchive .tab_content ul li:hover .txt_box strong {
    border: 1px solid var(--white-color);
    background: var(--white-color);
    color: var(--normal-color);
}

.MainArchive .tab_content ul li .txt_box p {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 6px 0;
}

.MainArchive .tab_content ul li .txt_box span {
    font-size: 14px;
    color: var(--light-gray);
}

.MainArchive .tab_content ul li:hover .txt_box span {
    font-size: 14px;
    color: var(--white-color);
}

.MainArchive .tab_content .tab_inner {}





/* 지도 부분 */
.MainMap {
    position: relative;
}

.MainMap .inner::before {
    content: "";
    position: absolute;
    z-index: -999;
    width: 360px;
    height: 360px;
    top: -70px;
    left: 100px;
    border-radius: 50%;
    background: rgba(0, 157, 220, 0.05);
}

.MainMap .inner::after {
    content: "";
    position: absolute;
    z-index: -999;
    width: 600px;
    height: 600px;
    bottom: -200px;
    right: 40px;
    border-radius: 50%;
    background: rgba(0, 157, 220, 0.05);
}

.MainMap .inner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.MainMap .left_info .title h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 24px 0;
}

.MainMap .left_info .title p {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 24px 0;
    line-height: 22px;
}

.MainMap .left_info .call {
    border: 1px solid var(--white-gray);
    border-radius: 10px;
    background: var(--white-color);
    padding: 16px;
    margin: 0 0 10px 0;
}

.MainMap .left_info .call span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 6px 0;
}

.MainMap .left_info .call strong {
    color: var(--s-color);
    font-size: 18px;
    font-weight: 600;
}

.MainMap .left_info .call p {
    font-size: 14px;
    line-height: 16px;
    color: var(--light-gray);
}

.MainMap .left_info .trans {
    display: flex;
    border: 1px solid var(--white-gray);
    border-radius: 10px;
    background: var(--white-color);
    padding: 16px;
}

.MainMap .left_info .trans_inner {
    flex: 1;
}


.MainMap .left_info .trans_inner a {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    color: #666;
    background: #fff;
    border: 1px solid #f2f2f2;
}

.MainMap .left_info .trans_inner li:hover a {
    color: var(--white-color);
    background: var(--s-color);
    transition: 0.3s;
}

.MainMap .left_info .trans_inner a::after {
    content: "\e409";
    font-family: "material symbols outlined";
    vertical-align: -2px;
    color: #00478f;
}

.MainMap .left_info .trans_inner li:hover a::after {
    color: var(--white-color);
}

.MainMap .trans_inner li:first-child {
    margin: 0 0 4px 0;
}

.MainMap .left_info .trans span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 0 12px 0 0;
}




/* 푸터 */
.footer {
    padding: 60px 0 70px 0;
    background: #ddd;
}

.footer .foot_wrap {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 50px;
    justify-content: space-between;
}

.footer .foot_wrap .ft {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.footer .foot_wrap .ft::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--light-gray);
}

.footer .foot_wrap .ft .foot_customer {
    display: flex;
    gap: 16px;
    white-space: nowrap;
}

.footer .foot_wrap .ft .foot_customer li {
    position: relative;
}

.footer .foot_wrap .ft .foot_customer li:not(:first-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10px, -50%);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: #999;
}

.footer .foot_wrap .ft .foot_customer li a {
    display: block;
}

.footer .foot_wrap .ft .foot_customer li strong {
    font-weight: 500;
    color: var(--s-color);
}

.footer .foot_wrap .fb {
    display: flex;
    justify-content: space-between;
}

.footer .foot_wrap .fb .foot_address {
    margin: 0 0 6px 0;
    font-size: 14px;
}

.footer .foot_wrap .fb .foot_address li {
    position: relative;
    display: inline-block;
    margin: 0 18px 0 0;
    line-height: 20px;
}


.footer .foot_wrap .fb .copyright {
    font-size: 14px;
    color: var(--light-gray);
}

.footer .foot_wrap .fb #fl {
    outline: none;
    border: 1px solid #999;
    border-radius: 10px;
    background: none;
    font-family: "Noto Sans Kr";
    font-size: 14px;
    padding: 4px 8px 5px 16px;
    color: var(--dark-gray);
}